%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{lib_dirs, ["deps"]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
       ]}.

{require_otp_vsn, "R14"}.

{clean_files, ["release/crash"]}.

{erl_opts, [
            fail_on_warning, 
            debug_info, 
            {src_dirs, ["test_"]},
            {parse_transform, lager_transform}
           ]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{validate_app_modules, false}.

{sub_dirs, ["apps/crash", "release"]}.
