%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 %% Logging       
 {lager, 
  [{handlers, 
    [{lager_console_backend, [debug, true]},
     {lager_file_backend, 
      [{"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5},
       {"log/debug.log", debug, 10485760, "$D0", 5}
      ]}
    ]}
  ]},
 %% Inets
 {inets,
  [{services,
    [{httpd,
      %%[{modules, [mod_alias, mod_auth, mod_esi, mod_actions,
      %%            mod_cgi, mod_dir, mod_get, mod_head,
      %%            mod_log, mod_disk_log, mod_pal]},
      [{modules, [mod_crash]},
       {port,8080},
       {server_name,"crash_http_proxy"},
       {server_root,"/tmp"},
       {document_root,"/tmp"},
       {error_log, "error.log"},
       {security_log, "security.log"},
       {transfer_log, "transfer.log"},
       {mime_types,
        [{"html","text/html"},
         {"css","text/css"},
         {"js","application/x-javascript"}
        ]}
      ]}     
     ]}
  ]}
].

